choice
	prompt "Controller family"
	default FAMILY_LPC11XX

	config FAMILY_LPC11XX
		bool "NXP LPC11xx"

	config FAMILY_LPC11EXX
		bool "NXP LPC11Exx"

	config FAMILY_LPC13XX
		bool "NXP LPC13xx"

	config FAMILY_LPC17XX
		bool "NXP LPC175x and LPC176x"

	config FAMILY_LPC43XX
		bool "NXP LPC43xx"
endchoice

config CORE
	string
	default m0          if FAMILY_LPC11XX || FAMILY_LPC11EXX
	default m3          if FAMILY_LPC13XX || FAMILY_LPC17XX
	default m4          if FAMILY_LPC43XX

config CORE_TYPE
	string
	default cortex      if FAMILY_LPC11XX || FAMILY_LPC11EXX || FAMILY_LPC13XX || FAMILY_LPC17XX || FAMILY_LPC43XX

config PLATFORM
	string
	default lpc11xx     if FAMILY_LPC11XX
	default lpc11exx    if FAMILY_LPC11EXX
	default lpc13xx     if FAMILY_LPC13XX
	default lpc17xx     if FAMILY_LPC17XX
	default lpc43xx     if FAMILY_LPC43XX

config PLATFORM_TYPE
	string
	default nxp         if FAMILY_LPC11XX || FAMILY_LPC11EXX || FAMILY_LPC13XX || FAMILY_LPC17XX || FAMILY_LPC43XX

menu "Drivers"

config DRIVERS_RGB_LED
	bool "RGB LED driver"

config DRIVERS_SOFTWARE_PWM
	bool "Software PWM driver"

endmenu

menu "Build options"

choice
	prompt "Optimization level"
	default OPTIMIZATIONS_DISABLED

	config OPTIMIZATIONS_DISABLED
		bool "None"

	config OPTIMIZATIONS_SIZE
		bool "Size"

	config OPTIMIZATIONS_FULL
		bool "Full"
endchoice

config OPTIMIZATIONS
	string
	default "none" if OPTIMIZATIONS_DISABLED
	default "size" if OPTIMIZATIONS_SIZE
	default "full" if OPTIMIZATIONS_FULL

endmenu
